---
import Link from "@components/Link.astro";
import { ABOUT } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <section class="max-w-5xl mx-auto px-5">
    <h3 class="text-2xl font-medium">
      Giving every idea the chance it deserves.
    </h3>
    <div class="border w-full my-4"></div>
    <div class="space-y-4">
      <h6 class="font-medium">Who am I?</h6>
      <p class="animate">
        I wish I could say I’m Iron Man or Steve Jobs or Warren Buffet —LOL😁.
        <br /><br />
        I’m Kojo Patrick: an entrepreneur at heart, a self-taught developer and a
        designer by passion. Unless we’re geeking out about ideas that can make an
        impact (and maybe make us rich), you won’t catch me doing much else.
      </p>

      <p class="animate">
        Growing up in Ghana, my journey into tech started with something as
        simple as setting up home electrical appliances. As a teen, I was
        fascinated by how these devices worked beneath their surfaces. Then I
        got my first computer. With little exposure but lots of curiosity, I
        stumbled upon software like CorelDRAW and Photoshop, which unlocked a
        whole new world of creativity. I quickly figured out enough to create
        designs to show off, and fell in love with the process.
      </p>

      <p class="animate">
        Fast forward to my entrepreneurial inspiration: my mom. Watching her
        transform simple ideas into profitable ventures and exit the market at
        just the right time showed me the power of innovation and business. Her
        process ignited my passion for entrepreneurship.
      </p>

      <p class="animate">
        Combining my love for tech and business, I enrolled in university to
        study Information Technology & Management, focusing on business
        management, entrepreneurship, and computer programming. I was obsessed
        with solving business problems through technology.
      </p>

      <p class="animate">
        Post-graduation, I started my career in UI/UX design, eventually
        transitioning into frontend development, then looping back to product
        design. Along the way, I discovered entrepreneurship ( going out there
        and solving real problems). I’ve pitched ideas to major accelerators
        like Y Combinator (rejected, but hey—what’s life without a little
        rejection?) and am still iterating on ideas that could win big.
      </p>
      <p class="animate">
        I’m the weirdo who loves brainstorming ideas that can shape the world,
        gets excited when design meets business needs, and preaches the gospel
        of solving problems through intuitive design. Self-taught,
        detail-obsessed, and fueled by pure hope and faith (no caffeine, just a
        lot of imposter syndrome lol).
      </p>
      <p class="animate">
        My ultimate dream? To solve a problem that makes a global
        impact—something used by millions, maybe even billions—and to teach &
        help others how to do the same.
      </p>
      <div class="py-6 animate">
        <Link href="/kojo-patrick-resume.pdf" external
          >Checkout my resume (for the TL;DR folks)</Link
        >
      </div>
    </div>
  </section>
</PageLayout>
