---
import Container from "@components/Container.astro";
import Explorations from "@components/Explorations.astro";
import Hero from "@components/Hero.astro";
import Link from "@components/Link.astro";
import Projects from "@components/Projects.astro";
import ShowReel from "@components/ShowReel.astro";
import Skillsets from "@components/Skillsets.astro";
import WhyWorkWithMe from "@components/WhyWorkWithMe.astro";
import { HOME, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <Container>
    <Hero />
    <ShowReel />
    <WhyWorkWithMe />
    <Projects />
    <Skillsets />
    <Explorations />
  </Container>
</PageLayout>
