---
import { Button } from "@/components/ui/button";
import ShimmerButton from "@/components/ui/shimmer-button";

const roles = ["Product design", "Design engineer", "PM", "Business analyst"];
---

<section
  class="min-h-[50vh] flex flex-col items-center justify-center text-left md:text-center px-4 py-20"
>
  <div class="max-w-3xl mx-auto space-y-1">
    <div
      class="flex items-center md:justify-center gap-2 text-lg sm:text-2xl font-medium animate flex-wrap"
    >
      <span class="has-tooltip">
        Akwaaba<span class="tooltip">Welcome!</span>
      </span>
      <span>, I&apos;m</span>
      <div class="relative inline-block w-20 h-10 rounded-lg overflow-hidden">
        <img
          src="/profile-image.jpg"
          alt="Profile"
          class="object-cover w-20"
          sizes="40px"
        />
      </div>
      <span class="font-serif italic">Kojo Patrick,</span>
    </div>
    <h2 class="text-lg sm:text-2xl font-medium animate">
      Ghanaian{" "}
      <span class="inline-block" role="img" aria-label="Ghana flag"> 🇬🇭</span>{
        " "
      }
      product designer & design engineer,
      <br />
      leveraging <span class="font-serif italic">AI tools</span> to build <span
        class="font-serif italic">cool mvps</span
      >.
    </h2>

    <div class="flex flex-wrap md:justify-center gap-3 py-6 animate">
      {
        roles.map((role) => (
          <span
            id={role}
            class="px-3 py-1 text-xs font-medium text-black/80 dark:text-black/75 rounded-full bg-zinc-100 lowercase hover:bg-secondary/80 transition-colors"
          >
            {role}
          </span>
        ))
      }
    </div>

    <div class="flex flex-wrap items-center md:justify-center gap-3 animate">
      <Button variant="outline" className="rounded-full gap-1.5">
        <span
          class="size-1.5 rounded-full bg-emerald-500 animate-ping"
          aria-hidden="true"></span>
        open for work
      </Button>
      <ShimmerButton className="shadow-2xl">
        <span
          class="text-center text-sm font-medium leading-none tracking-tight text-white dark:from-white dark:to-slate-900/10"
        >
          Start a project
        </span>
      </ShimmerButton>
    </div>
  </div>
</section>
