---
const roles = ["Product design", "Design engineer", "PM", "Business analyst"];
---

<section
  class="min-h-[50vh] flex flex-col items-center justify-center text-center px-4 py-20"
>
  <div class="max-w-3xl mx-auto space-y-1">
    <div
      class="flex items-center justify-center gap-2 text-3xl font-medium animate flex-wrap"
    >
      <span>Akwaaba, I&apos;m</span>
      <div class="relative inline-block w-20 h-10 rounded-lg overflow-hidden">
        <img
          src="/profile-image.jpg"
          alt="Profile"
          class="object-cover w-20"
          sizes="40px"
        />
      </div>
      <span>Kojo Patrick,</span>
    </div>
    <h2 class="text-xl sm:text-2xl md:text-3xl font-medium animate">
      Ghanaian{" "}
      <span class="inline-block" role="img" aria-label="Ghana flag"> 🇬🇭</span>{
        " "
      }
      product designer & design engineer,
      <br />
      leveraging AI tools to build cool mvps.
    </h2>

    <div class="flex flex-wrap justify-center gap-3 py-6 animate">
      {
        roles.map((role) => (
          <span
            id={role}
            class="px-3 py-1 text-base rounded-full bg-zinc-100 lowercase hover:bg-secondary/80 transition-colors"
          >
            {role}
          </span>
        ))
      }
    </div>
  </div>
</section>
