---
import ProjectCard from "./ProjectCard.astro";
---

<section class="p-4 md:p-6 lg:p-8 max-w-7xl mx-auto">
  <ProjectCard
    category="Personal"
    title="WeOuddy"
    subtitle="Design & Development"
    description="Organise, take notes and discuss the web without context switches & copy pasting. By yourself, with your peers & enhanced by AI."
    image={{
      src: "/projects/weouddy-cover.png",
      alt: "WeOuddy mobile app screenshot 1",
    }}
    logo="/projects/weouddy-logo.png"
    href="/projects/weouddy"
  />
</section>
