---
import ProjectCard from "./ProjectCard.astro";
---

<section class="p-4 md:p-6 lg:p-8 max-w-7xl mx-auto">
  <ProjectCard
    category="Personal"
    title="WeOuddy"
    subtitle="Design & Development"
    description="Organise, take notes and discuss the web without context switches & copy pasting. By yourself, with your peers & enhanced by AI."
    images={[
      {
        src: "/blog-placeholder-1.jpg?height=600&width=400",
        alt: "WeOuddy mobile app screenshot 1",
      },
      {
        src: "/blog-placeholder-2.jpg?height=600&width=400",
        alt: "WeOuddy mobile app screenshot 2",
      },
      {
        src: "/blog-placeholder-3.jpg?height=600&width=400",
        alt: "WeOuddy mobile app screenshot 3",
      },
      {
        src: "/blog-placeholder-4.jpg?height=600&width=400",
        alt: "WeOuddy mobile app screenshot 4",
      },
    ]}
    logo="/blog-placeholder-5.jpg?height=80&width=200"
    href="/projects/weouddy"
  />
</section>
