---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../data/projects";

type Props = {
  title?: string;
};

const { title = "Selected projects since 2022" } = Astro.props;
---

<section class="p-4 space-y-6 md:p-6 lg:p-8 max-w-7xl mx-auto">
  {
    title && (
      <h2 class="text-md md:text-lg w-full text-left font-semibold mb-12 animate uppercase">
        {title}
      </h2>
    )
  }
  <div class="space-y-8">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
