---
import ProjectCard from "./ProjectCard.astro";
---

<section class="p-4 space-y-6 md:p-6 lg:p-8 max-w-7xl mx-auto">
  <h2 class="text-xl w-full text-left font-semibold mb-12 animate">
    Selected projects since 2022
  </h2>
  <div class="space-y-8">
    <ProjectCard
      category="Personal"
      title="WeOuddy"
      subtitle="Design & Development"
      description="Organise, take notes and discuss the web without context switches & copy pasting. By yourself, with your peers & enhanced by AI."
      image={{
        src: "/projects/weouddy-cover.png",
        alt: "WeOuddy mobile app screenshot 1",
      }}
      logo="/projects/weouddy-logo.png"
      href="/projects/weouddy"
    />
    <ProjectCard
      category="Side project"
      title="Wdyk (What do you know)"
      subtitle="Design & Development"
      description="Organise, take notes and discuss the web without context switches & copy pasting. By yourself, with your peers & enhanced by AI."
      image={{
        src: "/projects/wdyk-cover.png",
        alt: "Wdyk mobile app screenshot 1",
      }}
      logo="/projects/wdyk-logo.png"
      href="/projects/wdyk"
    />
    <ProjectCard
      category="Client"
      title="FarmersPortal"
      subtitle="Design & Development"
      description="Organise, take notes and discuss the web without context switches & copy pasting. By yourself, with your peers & enhanced by AI."
      image={{
        src: "/projects/fmp-cover.png",
        alt: "Famersportal mobile app screenshot 1",
      }}
      logo="/projects/fmp-logo.png"
      href="/projects/farmersportal"
    />
    <ProjectCard
      category="Client"
      title="Supplykhart"
      subtitle="Design & Development"
      description="Organise, take notes and discuss the web without context switches & copy pasting. By yourself, with your peers & enhanced by AI."
      image={{
        src: "/projects/supplykhart-cover.png",
        alt: "Supplykhart mobile app screenshot 1",
      }}
      logo="/projects/supplykhart-logo.png"
      href="/projects/supplykhart"
    />
    <ProjectCard
      category="Client"
      title="Skya"
      subtitle="Design & Development"
      description="Organise, take notes and discuss the web without context switches & copy pasting. By yourself, with your peers & enhanced by AI."
      image={{
        src: "/projects/skya-cover.png",
        alt: "Skya mobile app screenshot 1",
      }}
      logo="/projects/skya-logo.png"
      href="/projects/skya"
    />
  </div>
</section>
