---
import { Image } from "astro:assets";
import { Card } from "./ui/clerk-card";
---

<section class="p-4 md:p-6 lg:p-8 max-w-7xl mx-auto">
  <Card title="Showreel" className="md:min-h-[600px]">
    <div
      class="flex items-center justify-center h-full mx-auto max-w-screen-lg"
    >
      <Image
        src={"/fintech-app-showreel.gif"}
        width={1600}
        height={900}
        class="object-contain"
        alt="showreel"
        format="gif"
      />
    </div>
  </Card>
</section>
