---
import { Card } from "./ui/clerk-card";

const skills = ["website", "app design", "mvps", "prototypes", "ui animations"];
const products = ["saas", "b2c", "social platform", "fintech"];
const tools = [
  "figma",
  "photoshop",
  "shopify",
  "framer motion",
  "react (nextjs) & tailwinds css & supabase",
  "cursor, v0, claude",
];
---

<section class="max-w-6xl mx-auto my-10">
  <h1
    class="text-center text-3xl font-medium mb-16 leading-relaxed animate font-serif italic"
  >
    You'll catch me doing a<br />combo of these:
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-2 relative">
    <!-- Things I Create Column -->
    <div class="transform -rotate-3 animate md:translate-x-3">
      <Card title="things I create">
        <div class="space-y-3">
          {
            skills.map((item) => (
              <div class="p-4 shadow-sm transform hover:-translate-y-1 transition-transform duration-200">
                <p class="text-gray-900 dark:text-white/75 font-semibold">
                  {item}
                </p>
              </div>
            ))
          }
        </div>
      </Card>
    </div>

    <!-- For Products In Column -->
    <div class="space-y-4 md:mt-12 transform rotate-2 animate">
      <Card title="for products in">
        <div class="space-y-3">
          {
            products.map((item) => (
              <div class="p-4 shadow-sm transform hover:-translate-y-1 transition-transform duration-200">
                <p class="text-gray-900 dark:text-white/75 font-semibold">
                  {item}
                </p>
              </div>
            ))
          }
          <div
            class="p-4 shadow-sm transform hover:-translate-y-1 transition-transform duration-200"
          >
            <p class="text-gray-900/25 dark:text-white/75 font-semibold">
              {"and more"}
            </p>
          </div>
        </div>
      </Card>
    </div>

    <!-- Using Tools Like Column -->
    <div class="space-y-4 transform -rotate-1 animate md:-translate-x-3">
      <Card title="using tools like">
        <div class="space-y-3">
          {
            tools.map((item) => (
              <div class="p-4 shadow-sm dark:shadow-white transform hover:-translate-y-1 transition-transform duration-200">
                <p class="text-gray-900 dark:text-white/75 font-semibold">
                  {item}
                </p>
              </div>
            ))
          }
        </div>
      </Card>
    </div>
  </div>
</section>
