---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ThemeToggle from "@components/ThemeToggle.astro";
import { ViewTransitions } from "astro:transitions";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${SITE.NAME} | ${title}`} description={description} />
    <ViewTransitions />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBGYSF417P"
    ></script><script id="google-analytics">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", `${SITE.GA_TRACKING_ID}`, {
        page_path: window.location.pathname,
      });
    </script>
  </head>

  <body>
    <Header />
    <main class="pt-32">
      <slot />
    </main>
    <Footer />
    <ThemeToggle />
  </body>
</html>
